<ul class="hostel-facilities hostel-facilities-expand mb30 clearfix ">
    <!-- <li>
        <div class="row ">
            <span class="col-md-4 ">Food Type</span>
            <span class="col-md-8 ">: Yes</span>
        </div>
    </li> -->
    <li>
        <div class="row ">
            <span class="col-md-4 ">Breakfast</span>
            <span class="col-md-8 ">: No</span>
        </div>
    </li>
    <li>
        <div class="row ">
            <span class="col-md-4 ">Lunch</span>
            <span class="col-md-8 ">: Yes</span>
        </div>
    </li>
    <li>
        <div class="row ">
            <span class="col-md-4 ">Snacks</span>
            <span class="col-md-8 ">: No</span>
        </div>
    </li>
    <li>
        <div class="row ">
            <span class="col-md-4 ">Dinner</span>
            <span class="col-md-8 ">: Yes</span>
        </div>
    </li>
</ul>